<?xml version="1.0" ?>
<launch>
  <arg name="robot_name" default="X1" />
  <!-- Merger type - 0: Octomap, 1: PCL-Kyle, 2: PCL-Jessup -->
  <arg name="merger" default="0" />

  <node ns="$(arg robot_name)" name="octomap_merger" pkg="octomap_merger" type="octomap_merger_node" output="screen">
    <param name="merger" value="$(arg merger)" />
    <param name="resolution" value="0.2" />
  </node>
</launch>
